* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin:0;
    padding:0;
  }

  section {
   
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 46);
    position: relative;
    
  }
  section::before {

    content:"";
    width: 250px;
    height: 250px;
    background-image: linear-gradient(90deg,#02549b,#ffffff);
    border-radius: 50%;
    position: absolute;
    transform: translate(-150px, -100px);

  }

  section::after {

    content:"";
    width: 250px;
    height: 250px;
    background-image: linear-gradient(90deg,#025499,#ffffff);
    border-radius: 50%;
    position: absolute;
    transform: translate(150px,100px);

  }

 .container {
    position: relative;
    width: 375px;
    height: 275px;
    z-index:1;

 }

 .container .card{
    height:100%;
    width:100%;
    background-color:#4b464668;
    border-radius: 25px;
 }

  


